/.sopc_builder/
*.bsf
*.inc
*.cmp
*.jpg
*.html
*.bak

/db/
/incremental_db/
*.rpt
*.done
*.smsg
*.summary
*.jdi



######################
!*.v
!*.VHL
!*.rbf
!*.pof
!*.sof
!*.sdc
######################